<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="986ecf56-4b8a-4f59-9fe0-773670c49cdb"
            Publisher="CN=刘磊"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>App3</DisplayName>
    <PublisherDisplayName>刘磊</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="App3.App">
        <VisualElements
            DisplayName="App3"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="App3"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>